@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;600;700;800&display=swap");
@media(max-width:700px){
  .header{
      height: 90%;
  }
  .text-box{
      width: 90%;
  }
  .text-box h1{
      font-size: 30px; 
  }
  .text-box p{
      font-size: 10px;
  }
  .nav-links ul li {
      display: block;
  }
  .nav-links{
      background: #f44336;
      height: 100vh;
      width: 200px;
      position: fixed;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
  }
  nav .fa{
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
  }
  .nav-links ul{
      padding: 30px;
  }
  .row{
      flex-direction: column;
  }
  .cource-col{
      margin-top: 15px;
  }
  .campus-col{
      margin-top: 15px;
  }
  .testimonial-col img{
     
    margin-right: 10px;
    margin-left: 0px;
  }
  .cta h1{
      font-size: 15px;
     margin-bottom: 5px;

  }
  .sub-header h1{
      margin-top: 0px;
  }
  /* .about-row{
      flex-direction: column;
  } */
  .about-col img{
    margin-top: 50px;
   
  }
  .sub-header h1{
      margin: auto;
      font-size: 65px;
  }

}
@media(max-width:1024px) {

  #navbar{
      display: flex;
      flex-direction: column;
      background-color: white;
      width: 250px;
      height: 100vh;
      position: fixed;
      top: 0px;
      right: -300px;
      padding: 80px 0px 0px 10px;
      justify-content: flex-start;
      align-items: flex-start;
      transition: 0.5s;

  }
  #navbar li{
      margin-bottom: 35px;
  }
  #header{
      padding: 20px 20px;

  }
 #mobile,#cross,#bar{
      display:inline;
      color: rgb(0, 0, 0); 
      cursor: pointer;
  }
  #shop{
      color: black;
  }
  #hero{
      background-position: top 30% right 30%;
  }
  #feature {
      justify-content: center;
  }
  #feature .fe-box {
     margin: 20px 20px;
  }
  .pro-container {
     
      justify-content:center;
     
  }
  #product1 .pro {
    margin: 30px ; 
  }
  #banner {
      height: 20vh;
  }
  #banner h4{
      font-size: 30px;
      padding-top: 5px;
  }
  #banner h2 {
    font-size: 40px;
    padding-top: 5px;

  }
  .banbtn {
 
      margin-top: 0;
  }
  #sm-banner {
   display: block;
  
  }
  #sm-banner .banner-box {
      height: 38vh;
  }
  #banner3 h2 {
    
      font-size: 40px;
      line-height: normal;
     
  }
  #newsletter input {
     width:auto
  }
  #prodetail {
      
      flex-direction: column;
  }
  #prodetail .single-pro-img {
      width: 80%;
      
  }
  .single-pro-detail {
      width: 80%;
      text-align: center;
      margin-left: 40px;
      
  }
  .padding{
       padding:40px 21px;
  }
  .single-pro-detail span {
      font-size: 20px;
      line-height: 20px;

  }
  #blog{
      padding: 0 0 0 0;
  }
  .blog-details{
      width: 80%;
  }
  #blog .blog-box {
      margin:80px ;
      display: flex;
      flex-direction: column;
      width:90%;
      align-items: center;
      position: relative;
      padding-bottom: 100px;
      align-items: flex-start;
  }
  #blog .blog-box {
      
      padding-bottom: 50px;
    }
    #newsletter input {
    
      padding: 0 14px;
      
      font-size: 15px;
  }
  #about-head {
   flex-direction: column;
   text-align: center;
  }
  #about-head img {
      width: 90%;
      height: auto;
      padding-right: 0;
      
  }
  .section-p1 {
      padding: 40px 0px;
  }
  #cart{
      overflow-x: scroll;
  }
  #sub-total {
      width: 100%;
  }
  #sub-total tr td{
      padding:12 20px;
     width: 100%;
      overflow: hidden;
    }
    .cupons{
      margin-bottom: 30px;
      width: 80%;
    }
}

@media(max-width:775px){
  #product1 .pro {
      width: auto;
  }
  #banner3  {
   display: block;
  }
  #newsletter h4 {
      font-size: 25px;
      color: #fff;
  }
  #newsletter input {
      width: 35vh;
  }
  #newsletter {
     
      height: 41vh;
  }

}

@media(max-width:600px){
  #banner3  {
      display: block;
     }
  h4 {
      font-size: 30px;
  }
  h2 {
      font-size: 40px;
      line-height: 30px;
      
  }
  h1 {
      font-size: 50px;
      line-height: 45px;
     
  }
  .hero-btn {
      white-space: nowrap;
      margin-top: 20px;
      
  }
  #sm-banner h2 {
      
      font-size: 40px;
      
  }
  #newsletter input {
      width: 20vh;
  }
  #feature .fe-box {
      width: 275px;
      
  }
  #cross, #bar, #shop {
   
      margin: 10px;
  
  }
  .hero-btn {
     
      font-size: 20px;
      padding: 7px 18px;
      margin-top: 2px;
     
  }
  #banner h2 {
      font-size: 30px;
      
  }
  .logo {
      height: 88px;
      border-radius: 50px;
  }
 
  #mobile{
      display: flex;
  }
  #hero{
      padding: 0px 22px;
  }
  .single-pro-detail select {
      font-size: 20px;
      padding: 7px;
      margin: 5px;
      
     
  }
  .single-pro-detail input {
      font-size: 20px;
      padding: 7px;
      margin: 5px;

     
  }
  .single-pro-detail button{
      margin: 5px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  
}
h1 {
  font-size: 90px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 70px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 50px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 20px;
}

p {
  font-size: 25px;
  color: #465b52;
  margin: 15px 0px 20px 0px;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0px;
}

body {
  width: 100%;
}

/* --------header---- */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #e3e6f3;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0px;
  left: 0px;
}

.logo {
  height: 78px;
  border-radius: 50px;
  background-color: rgb(170, 169, 169);
}
.logo1{
  height: 200px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: right;
}

#navbar li {
  list-style: none;
  padding: 0px 20px;
}

#navbar li a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.5s;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 70%;
  display: block;
  height: 4px;
  background-color: #088178;
  transition: 0.5s;
}

/* #navbar li a:hover::after,#navbar li a.active::after{
    width: 70%;
} */

#cross,
#mobile {
  display: none;
  align-items: center;
  margin: 20px;
  font-size: 30px;
  padding-right: 0px;
}

/* ----------hero-------------- */
#hero {
  width: 100%;
  height: 90vh;
  background-image: url(./image/bg2.jpeg);
  background-position: top 0% right 50%;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 25px;
}

#hero h2 {
  padding-bottom: 25px;
}

#hero h1 {
  padding-bottom: 25px;
  color: #088178;
}

.hero-btn {
  background-color: transparent;
  color: black;
  border: 2px solid #088178;
  font-size: 30px;
  padding: 20px 50px;
  margin-top: 50px;
  transition: 0.5s;
  cursor: pointer;
  font-weight: 600;
}

.hero-btn:hover {
  background-color: #088178;
  color: white;
}

/* ------------feactuure--------- */
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 200px;
  text-align: center;
  padding: 40px 20px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  border: 2px solid #cce7d0;

  transition: 0.3s;
}

#feature .fe-box:hover {
  box-shadow: 20px 20px 34px rgba(175, 174, 174, 0.3);
  border-radius: 35px;
}

#feature .fe-box img {
  width: 100%;
  margin-top: 3px;
}

#feature .fe-box h6 {
  padding: 8px 4px;
  background-color: #a0d9c1;
  line-height: 1;
  color: #1a1a1a;
  margin-top: 10px;
}

/* ---------------product1------------- */
#product1 {
  text-align: center;
}

.pro-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 2px solid #cce7d0;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0px;
  transition: 0.2s;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 20px;
}

#product1 .pro .des h5 {
  padding-top: 10px;
  font-size: 30px;
}

#product1 .pro .des .star {
  padding-top: 10px;
  color: rgba(255, 77, 0, 0.915);
}

#product1 .pro .des h4 {
  padding-top: 10px;
  font-size: 25px;
  color: #088178;
}

#product1 .pro a {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  line-height: 40px;
  background-color: #088178;
  font-weight: 500;
  color: #fff;
  padding-top: 7px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* ---------------BANNER------------ */
#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(img/banner/b2.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 40vh;
}

#banner h4 {
  color: white;
}

#banner h2 {
  color: white;
  padding-top: 20px;
}

#banner h2 span {
  color: red;
}

.banbtn {
  background-color: #ffffff;
  margin-top: 35px;
}

.banbtn:hover {
  color: rgb(255, 255, 255);
}

/* ----------------banner-box--------------- */
#sm-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}
#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url(./inform/Ghats.jpg);
  background-position: center;
  background-size: cover;
  flex-basis: 45%;
  height: 50vh;
  padding: 10px 40px;
  margin: 0 8px;
  border-radius: 25px;
}
#sm-banner .banner-box2 {
  background-image: url(./inform/boats.jpg);
  border-radius: 25px;
}
#sm-banner h4 {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  padding-bottom: 5px;
}
#sm-banner h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
}
#banner3 {
  display: flex;
  width: 99%;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
}
#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url(inform/camping.jpg);
  background-position: center;
  background-size: cover;
  background-position: center;
  background-size: cover;
  flex-basis: 30%;
  /* min-width: 30%; */
  height: 30vh;
  padding: 10px 40px;
  margin: 0 8px;
  border-radius: 25px;
}
#banner3 h2 {
  color: #fff;
  font-size: 45px;
  font-weight: 900;
}
#banner3 h3 {
  color: rgb(228, 44, 44);
  font-size: 30px;
  font-weight: 800;
}
#banner3 .banner-box2 {
  background-image: url(./inform/rafting.jpg);
  border-radius: 25px;
}
#banner3 .banner-box3 {
  background-image: url(./inform/cafeteria.jpg);
  border-radius: 25px;
}
/* ---------newsletter---------- */
#newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(./img/banner/b20.png);
  background-position: 20% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#088178;
  height: 30vh;
}
#newsletter .form {
  display: flex;
  width: 40%;
  text-align: center;
}

#newsletter h4 {
  color: #fff;
}
#newsletter p {
  color: #fff;
}
#newsletter p span {
  color: rgb(250, 171, 143);
  font-weight: 600;
}
#newsletter input {
  height: 4.3rem;
  width: 100%;
  padding: 0 20px;
  outline: none;
  border-radius: 5px;
  font-size: 25px;
}
#newsletter button {
  height: 4.3rem;
  background-color:#d5945f;
  padding: 15px 30px;
  font-size: 25px;
  color: #fff;
  border: none;
  text-align: center;
  white-space: nowrap;
}
/* ------------footer------------------- */
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo {
  margin-bottom: 40px;
}
footer h4 {
  font-size: 40px;
  margin-bottom: 20px;
}
footer .space {
  margin-bottom: 25px;
}

footer p {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 10px;
}
footer a {
  font-size: 25px;
  text-decoration: none;
  margin-bottom: 10px;
  color: #465b52;
}
.icons i {
  cursor: pointer;
  margin-left: 5px;
  font-size: 25px;
}
.icons i:hover,
footer a:hover {
  color: #088178;
}
.copyright {
  text-align: center;
}
.copyright .color {
  color: #ff8411;
}
footer .install .row img {
  border: 2px solid #036c65;
}
footer .install img {
  margin: 10px 0px 15px 0px;
}
/* -----------------------------------------shop------------------------------ */
.page-header {
  background-image: url(./img/banner/b1.jpg);
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-header h2,
.page-header p {
  color: #fff;
}
#pagination {
  text-align: center;
  margin-top: 25px;
}
#pagination a {
  text-decoration: none;
  background-color: #036c65;
  border-radius: 4px;
  padding: 25px;
  margin: 5px;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}
/* -----------------------------------------------singleproduct--------------- */
#prodetail {
  display: flex;
  margin-top: 25px;
}
#prodetail .single-pro-img {
  width: 40%;
  margin-left: 50px;
}
.single-pro-img {
  margin-right: 50px;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  cursor: pointer;
  flex-basis: 24%;
}
.single-pro-detail {
  width: 50%;
  text-align: left;
}
.single-pro-detail h6 {
  font-size: 40px;
  margin: 15px;
  padding-top: 50px;
}
.single-pro-detail h4 {
  font-size: 50px;
  margin: 10px;
  padding-bottom: 50px;
}
.single-pro-detail h2 {
  font-size: 70px;
  margin: 10px;
  color: #088178;
}
.single-pro-detail select {
  font-size: 30px;
  padding: 20px;
  margin-right: 5px;
}
.single-pro-detail input {
  font-size: 30px;
  padding: 20px;
  width: 80px;
  margin-right: 5px;
}
.single-pro-detail button {
  margin-right: 5px;
}
.single-pro-detail h5 {
  margin-top: 50px;
  font-size: 50px;
  margin-bottom: 25px;
}
.single-pro-detail span {
  font-size: 35px;
  line-height: 40px;
}
/* -------------------------------------------------blog-----------------------==----------- */
.blog-header {
  background-image: url(./img/banner/b19.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* position: fixed; */
}

#blog {
  padding: 150px 150px 0px 150px;
}
#blog .blog-box {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  padding-bottom: 80px;
}
.blog-img {
  width: 80%;
  margin-right: 40px;
}
.blog-img img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.blog-details {
  width: 50%;
}
.blog-details a {
  text-decoration: none;
  transition: 0.5s;
  font-weight: 700;
  font-size: 35px;
  color: #1b2621;
}
.blog-details a:hover {
  color: #036c65;
}
.blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0px;
  color: #c9cbce;
  z-index: -1;
}
/* -------------------------about------------------------------ */
.about-header {
  background-image: url(img/about/banner.png);
}
#about-head {
  display: flex;
  align-items: center;
}
#about-head img {
  width: 50%;
  height: auto;
  padding-right: 50px;
}
#about-head h2 {
  padding-bottom: 50px;
}
#about-head p {
  font-size: 35px;
  line-height: 30px;
}
#about-head abbr {
  font-size: 30px;
}
#about-head marquee {
  font-size: 30px;
  margin-top: 25px;
}
#about-app {
  text-align: center;
}
#about-app h1 {
  margin-bottom: 25px;
}
#about-app .video video {
  margin-bottom: 25px;
  height: 100%;
  width: 70%;
}
/* --------------------contact us ----------------------------------- */
#contact-detail {
  display: flex;
  width: 100%;
}
.details {
  width: 50%;
}

.details span {
  font-size: 45px;
}
.details h2 {
  padding-top: 30px;
}
.details h3 {
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.details li {
  list-style: none;
  display: flex;
  align-items: center;
}
.details li i {
  margin-right: 35px;
  padding-bottom: 6px;
  color: #088178;
  font-size: 25px;
}
#contact-detail .map {
  width: 50%;
}
#contact-detail .map iframe {
  width: 100%;
}
#formdetails {
  width: 100%;
  height: 80%;
  text-align: center;
  padding: 50px;
  border: 2px solid black;
}

#formdetails form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
#formdetails input,
textarea {
  font-size: 35px;
  padding: 25px 35px;
  margin-bottom: 25px;
}
#formdetails form h2 {
  margin-bottom: 30px;
}
#formdetails form span {
  font-size: 45px;
  color: #036c65;

  margin: 30px;
  font-weight: 600;
  text-decoration: underline;
}
#formdetails form button {
  align-items: center;
  width: 25%;
}
/* ---------------------------cart=====--------------------------------------- */
#cart {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}
#cart table{
  font-size: 25px;
}
#cart table input{
  font-size: 25px;
 padding: 20px 10px;
}
#cart table td:nth-child(1){
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(2){
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(3){
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4){
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(5){
  width: 250px;
  text-align: center;
  
}
#cart table td:nth-child(5) input{
  width: 70px;
  text-align: center;

}
#cart table td:nth-child(6){
  width: 250px;
  text-align: center;
}
#cart table {
  /* border: 1px solid rgb(0, 0, 0); */
  border-bottom: 2px solid black;
}
#cart table thead tr td {
  border: 1px solid rgb(55, 54, 54);
border-left: none;
  border-right: none;

  padding: 25px;
}
#cart table img {
  width: 130px;
  padding: 10px 5px ;
}
#cart-add{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cupons h3{
font-size: 45px;
}
.cupons input{
  font-size: 30px;
  padding: 20px ;
}
#sub-total {
  font-size: 35px;
  border: 2px solid black;
 width: 50%;
 white-space: nowrap;
}
#sub-total tr td{
  width: 100%;
  padding: 15px;
  border-bottom: 2px solid black;
}
#sub-total h3{
  text-align: center;
  padding: 25px;
}

#sub-total table{
  border-top:2px solid black ;
}
.btn-cart{
  margin: 30px auto;
  margin-left: 50px;
}
/* testimonial */
.testimonial{
  text-align:center ;
  margin: auto;
  padding-top: 70px;
  width: 80%;
}
.testimonial-col{
  flex-basis: 44%;
  display: flex;
  border-radius: 15px;
  margin-bottom: 5%;
  padding: 25px;
  background-color: #fff3f3;
  text-align: left;
  cursor: pointer;
}
.testimonial-col img{
  height: 50px;
  border-radius: 50%;
margin-right: 30px;
margin-left: 5px;
}
.testimonial-col h3{
  text-align: left;
  margin-top: 25px;
}
.testimonial-col p {
padding: 0;
}
.testimonial-col .fa{
 color:  #f44346;
}
.row{
  display: flex;
  justify-content:space-between;
}
/* campus */
.campus{
  margin:auto;
  padding-top:70px ;
  text-align: center;
  width: 80%;
}
.campus-col{
  flex-basis: 33%;
  overflow: hidden;
  position: relative;
 margin: 15px;
 height: 500px;
 
}
.campus-col img{
  height: 500px;
  border-radius: 10px;
  width: 100%;
  display: block;
}
.layer{
  background:transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  border-radius: 10px;
}
.layer:hover{
  background:#088178;


}
.layer h3{
width: 100%;
font-weight: 500;
font-size: 26px;
color: #fff;
position: absolute;
border-radius: 10px;
bottom: 0;
left: 50%;
tranSform: translateX(-50%);
opacity: 0;
transition: 0.5s;
}
.layer:hover h3{
  bottom: 49%;
  opacity: 1;
}
/* --------------------contact us ----------------------------------- */
#contact-detail {
  display: flex;
  width: 100%;
}
.details {
  width: 50%;
}

.details span {
  font-size: 45px;
}
.details h2 {
  padding-top: 30px;
}
.details h3 {
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.details li {
  list-style: none;
  display: flex;
  align-items: center;
}
.details li i {
  margin-right: 35px;
  padding-bottom: 6px;
  color: #088178;
  font-size: 25px;
}
#contact-detail .map {
  width: 50%;
}
#contact-detail .map iframe {
  width: 100%;
}
#formdetails {
  width: 100%;
  height: 80%;
  text-align: center;
  padding: 50px;
  border: 2px solid black;
}

#formdetails form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
#formdetails input,
textarea {
  font-size: 35px;
  padding: 25px 35px;
  margin-bottom: 25px;
}
#formdetails form h2 {
  margin-bottom: 30px;
}
#formdetails form span {
  font-size: 45px;
  color: #036c65;

  margin: 30px;
  font-weight: 600;
  text-decoration: underline;
}
#formdetails form button {
  align-items: center;
  width: 25%;
}
.about-header {
  background-image: url(./about/banner.png);
}
/* -------------------------about------------------------------ */

#about-head {
  display: flex;
  align-items: center;
}
#about-head img {
  width: 50%;
  height: auto;
  padding-right: 50px;
}
#about-head h2 {
  padding-bottom: 50px;
}
#about-head p {
  font-size: 35px;
  line-height: 30px;
}
#about-head abbr {
  font-size: 30px;
}
#about-head marquee {
  font-size: 30px;
  margin-top: 25px;
}
#about-app {
  text-align: center;
}
#about-app h1 {
  margin-bottom: 25px;
}
#about-app .video video {
  margin-bottom: 25px;
  height: 100%;
  width: 70%;
}

.blog-header {
  background-image: url(./about/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 
}

#blog {
  padding: 150px 150px 0px 150px;
}
#blog .blog-box {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  padding-bottom: 80px;
}
.blog-img {
  width: 80%;
  margin-right: 40px;
  
}
.blog-img img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 40px;
}
.blog-details {
  width: 50%;
}
.blog-details a {
  text-decoration: none;
  transition: 0.5s;
  font-weight: 700;
  font-size: 35px;
  color: #1b2621;
}
.blog-details a:hover {
  color: #036c65;
}
.blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0px;
  color: #c9cbce;
  z-index: -1;
}
#navbar li a {
  color: #1a1a1a;
}
.sub-header h1{
  margin-top: 70px;
  color: #fff;
  text-align: center;
}
.about-us{
  width: 90%;
  margin:  70px auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-col{
  text-align: left;
  flex-basis: 48%;
  margin: auto;
}
.about-col img{
  height: 100%;
  width:100%;
 
  border-radius: 10px;
  
}
.about-col h1{
  padding: 0;
  font-size: 60px;
}
.about-col p{
  padding: 15px 0 15px ;
}
.about-col a{
  margin-top: 10px;
}

#banner3 {
  display: flex;
  width: 99%;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
}
#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* background-image: url(img/banner/b7.jpg); */
  background-position: center;
  background-size: cover;
  background-position: center;
  background-size: cover;
  flex-basis: 30%;
  /* min-width: 30%; */
  height: 30vh;
  padding: 10px 40px;
  margin: 0 8px;
}
#banner3 h2 {
  color: #fff;
  font-size: 45px;
  font-weight: 900;
}
#banner3 h3 {
  color: rgb(228, 44, 44);
  font-size: 30px;
  font-weight: 800;
}
/* facitities */
.facilities{
  margin:auto;
  padding-top:60px ;
  text-align: center;
  width: 90%;
  margin-top: 150px;
}
.facilities-col{
  text-align: center;
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 10%;
  margin-right: 5px;
}
.facilities-col img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.facilities-col p{
  padding: 0;
}
.facilities-col h3{
  font-size: 30px;
}